*
!Assets

Assets/*
!Assets/*.cs

!Assets/Character
Assets/Character/*
!Assets/Character/*.cs

!Assets/PlayerSelect
Assets/PlayerSelect/*
!Assets/PlayerSelect/*.cs

!Assets/MainMenu
!Assets/MainMenu/*.cs

!Assets/PowerUpsScripts
!Assets/PowerUpsScripts/*.cs

!Assets/PowerUpInitializerScripts
!Assets/PowerUpInitializerScripts/*.cs

!Assets/ScoreTracking
!Assets/ScoreTracking/KingoftheHill
!Assets/ScoreTracking/*.cs
!Assets/ScoreTracking/KingoftheHill/*.cs

!Assets/ScoreTracking/GunnedDown
!Assets/ScoreTracking/GunnedDown/*.cs


!Assets/CameraScripts
!Assets/CameraScripts/*.cs

!Assets/MenuScripts
!Assets/MenuScripts/MinigameWinsMenu
!Assets/MenuScripts/GameInstructionsMenu
!Assets/MenuScripts/CharacterSelectionMenu
!Assets/MenuScripts/MysteryDrinkMenu
!Assets/MenuScripts/MinigameWinsMenu/*.cs
!Assets/MenuScripts/GameInstructionsMenu/*.cs
!Assets/MenuScripts/CharacterSelectionMenu/*.cs
!Assets/MenuScripts/MysteryDrinkMenu/*.cs



!Assets/EnemyScripts
!Assets/EnemyScripts/Bullets
!Assets/EnemyScripts/Turrets
!Assets/EnemyScripts/Bullets/*.cs
!Assets/EnemyScripts/Turrets/*.cs

!Assets/InitializeGameObjectsScripts
!Assets/InitializeGameObjectsScripts/*.cs

!Assets/LevelScripts
!Assets/LevelScripts/GunnedDown
!Assets/LevelScripts/GunnedDown/*.cs

