*
!Assets

Assets/*
!Assets/*.cs

!Assets/Character
Assets/Character/*
!Assets/Character/*.cs

!Assets/PlayerSelect
Assets/PlayerSelect/*
!Assets/PlayerSelect/*.cs

!Assets/MainMenu
!Assets/MainMenu/*.cs

!Assets/PowerUpsScripts
!Assets/PowerUpsScripts/*.cs

!Assets/PowerUpInitializerScripts
!Assets/PowerUpInitializerScripts/*.cs

!Assets/ScoreTracking
!Assets/ScoreTracking/KingoftheHill
!Assets/ScoreTracking
!Assets/ScoreTracking/KingoftheHill/*.cs
!.gitignore

!Assets/CameraScripts
!Assets/CameraScripts/*.cs

!Assets/MenuScripts
!Assets/MenuScripts/*.cs