*
!Assets

Assets/*
!Assets/*.cs

!Assets/Character
Assets/Character/*
!Assets/Character/*.cs

!Assets/PlayerSelect
Assets/PlayerSelect/*
!Assets/PlayerSelect/*.cs

!Assets/MainMenu
!Assets/MainMenu/*.cs


!.gitignore